// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image:  url('tux.png');
  background-image:  url('tux.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
